

.fl { float: left }
.fr { float: right }
.clear { zoom: 1 }
.clear:after { content: ""; display: block; height: 0; visibility: visible; clear: both } 

.content{
    min-height: 800px;
    background: #fff;
    padding:20px 30px;
}
.chartWrap{
    border:1px solid #d9d9d9;
    padding:20px 10px;
    margin:20px auto;
    text-align: center;
}

.lineChartWrap{
    border:1px solid #d9d9d9;
    margin:50px 0;
    padding:30px;
    text-align: center;
}

.chartName{
    color:#999;
    font-size: 12px;
    text-align: center;
    padding:10px 0;
}

.dataNull{
    margin:100px auto;
    text-align: center;
    color: #999;
}