

.fl { float: left }
.fr { float: right }
.clear { zoom: 1 }
.clear:after { content: ""; display: block; height: 0; visibility: visible; clear: both } 


.content{
    min-height: 800px;
    background: #fff;
    padding:20px 30px;

    .listBar{
        margin-top:30px;

        li{
            height: 30px;
            line-height: 30px;
            margin-bottom: 20px;

            .listLabel,.listValue{
                display: inline-block;
            }
            .listLabel{
                width:5%;
                height:30px;
                vertical-align: top;
                overflow: hidden;
                text-overflow:ellipsis;
                white-space: nowrap;
                text-align: center;
            }
            .listValue{
                width:95%;
                height:30px;
                text-align: left;

                .value{
                    display: inline-block;
                    height:30px;
                    background: #acdaff;
                    color:#fff;
                    text-indent: 10px;
                    border-left:1px solid #acdaff;
                    overflow: hidden;
                    cursor: pointer;
                }
            }
        }
    }
}

.chartWrap{
    border:1px solid #d9d9d9;
    padding:20px 10px;
    margin:20px auto;
    text-align: center;
}

.chartName{
    color:#999;
    font-size: 12px;
    text-align: center;
    padding:10px 0;
}

.dataNull{
    height: 400px;
    padding: 200px 0;
    text-align: center;
    color: #999;
}